@model IEnumerable<Examen.ApplicationCore.Domain.Visionnage>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateVisionnage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Favori)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilisateur.NomUtilisateur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programme.NomProgramme)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateVisionnage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Favori)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Utilisateur.NomUtilisateur)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Programme.NomProgramme)
            </td>
            <td>
                    @Html.ActionLink("Programme", "Details", "Programme", new { id = item.ProgrammeFk }) |
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
