@model Examen.ApplicationCore.Domain.Programme

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Programme</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgrammeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgrammeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomProgramme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomProgramme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Animateur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Animateur)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
